<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <header class="masthead">
      <div class="masthead-inner" align="center">

		  <h2 style="font-size: 20px;">{"API Evangelist"}</h2>
      <a href="http://apievangelist.com" target="_blank" id="feature_project_link"><img id="feature_project_image" src="http://s3.amazonaws.com/kinlane-productions/api-evangelist/t-shirts/KL_InApiWeTrust-1000.png" width="50%" style="border: 1px solid #FFF;" title="API Guides" /></a>

      <div class="colophon">
        <ul class="colophon-links">
          <li>
            <a href="/{{ site.github_repo }}/">Home Page</a>
          </li>
          <li style="padding:1px">
            <a href="http://apievangelist.com" style="font-size: 70%;">
               <span style="font-size: 70">&#8668;</span>
              Return to API Evangelist
            </a>

          </li>
        </ul>
      </div>

      <script id="parterListingTemplate" type="text/template">
          {% raw  %}
          <a href="{{url}}" target="_blank" title="{{title}}">
         		<img src="{{logo}}" width="{{width}}" style="padding: 1px 1px {{paddingbottom}}px 1px;" />
          </a>
          {% endraw %}
      </script>

      <div id="partnerListingContainer" align="center" style="background-color:#FFF; margin-top: 20px; padding: 10px 10px 10px 10px; width: 60%; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border: 3px solid #FFFFFF; margin-bottom: 15px;">

		</div>

      </div>
    </header>

    <div class="content container">

      <!-- Logo - Banner -->
    	<p align="center"><img src="http://kinlane-productions.s3.amazonaws.com/api-evangelist/api-evangelist-logo-400.png" align="center" width="65%" style="padding-bottom: 10px;" /></p>

      	{{ content }}

      <!-- Footer1 -->
      <p align="center"><a href="{{ site.url }}" target="_blank" id="footer_project_link"><img id="footer_project_image" src="{{ site.footer_image_source }}" width="{{ site.footer_image_width }}%" title="{{ site.footer_title }}" class="fbanner" /></a></p><br />

      <div class="footer">
        <ul>
          <li><a href="http://apievangelist.com/">Research</a></li>
          <li><a href="http://apievangelist.com/blog/">Blog</a></li>
          <li><a href="http://apievangelist.com/partners/">Partners</a></li>
          <li><a href="http://kinlane.com/">About</a></li>
          <li><a href="http://apievangelist.com/numbers/">Numbers</a></li>
          <li><a href="http://apievangelist.com/branding-guidelines/">Branding</a></li>
          <li><a href="http://apievangelist.com/contact/">Contact</a></li>
        </ul>
      </div>

    </div>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-1119465-51']);
	  _gaq.push(['_setDomainName', 'apievangelist.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

    <script type="text/javascript">

    /*global Base64, moment, store, tim */
    jQuery(function ($) {
    	'use strict';

    	// ==========================================================================
    	//   Navigation
    	// ==========================================================================
    	var $nav = $('#mainnav');
    	var $navUl = $('<ul/>').prependTo($nav);
    	var $footer = $('footer');
    	var waypoints = {};
    	var loadHash = document.location.hash.substr(2);
    	var windowSpy = new jQuery.Espy(window, {
    		offset: 300,
    		size: 0
    	});

    	/**
    	 * Controls the stickiness of navigation.
    	 */
    	function stickNavigation() {
    		var isSticky = $nav.data('sticky') && $(window).height() >= $nav.height();
    		// Makes navigation fixed
    		$nav[isSticky ? 'addClass' : 'removeClass']('fixed');
    		// Makes navigation positioned at the bottom of content, so it won't collide with footer
    		$nav[(isSticky && $footer.data('collides')) ? 'addClass' : 'removeClass']('bottom');
    	}

    	// Sticky navigation
    	$nav.espy(function (entered, state) {
    		$nav.data('sticky', state === 'up');
    		stickNavigation();
    	}, { contain: 1 });

    	$(window).on('resize', stickNavigation);

    	/**
    	 * Scroll to waypoint.
    	 */
    	function scrollTo(pointName) {
    		$(window).scrollTo(pointName === 'download' ? 0 : waypoints[pointName].element, { duration: 300 });
    	}

    	// Scroll to waipoint
    	$(document).on('click', '[href^="#!"]', function () {
    		var name = $(this).attr('href').match(/#!(.*)$/)[1];
    		scrollTo(name);
    	});

    	// Waypoints
    	$('[data-point]').each(function (i, point) {
    		var $point = $(point);
    		var pointName = $point.data('point');
    		var pointTitle = $point.data('title') || pointName;
    		var activeWhen = $point.data('active-when');
    		var $navlink = $('<li><a href="#!' + pointName + '">' + pointTitle + '</a></li>');

    		waypoints[pointName] = {
    			element: point,
    			activeWhen: activeWhen,
    			title: pointTitle
    		};

    		windowSpy.add($point, function (entered, pos) {
    			$navlink[(entered || pos === activeWhen) ? 'addClass' : 'removeClass']('active');
    		});

    		if (pointName === loadHash) {
    			scrollTo(pointName);
    		}

    		$navlink.appendTo($navUl);
    	});

    	// Footer <-> Navigation collision
    	windowSpy.add($footer, function (entered) {
    		$footer.data('collides', entered);
    		stickNavigation();
    	}, {
    		offset: 0,
    		size: $nav.outerHeight()
    	});

    	// ==========================================================================
    	//   Tooltips
    	// ==========================================================================
    	(function () {
    		var $tooltip = $('<div />');

    		function showHideHandler(event) {
    			/*jshint validthis:true */
    			if (event.type === 'mouseleave') {
    				$tooltip.remove();
    				return;
    			}

    			var $el = $(this);
    			var title = $el.data('tooltip');
    			var place = $el.data('place') || 'top';
    			var style = $el.data('style') || 'dark';

    			$tooltip.attr('class', 'tooltip ' + place + ' ' + style).text(title).appendTo(document.body);
    			var tWidth = $tooltip.outerWidth();
    			var tHeight = $tooltip.outerHeight();
    			var pos = $el.offset();
    			var elWidth = $el.outerWidth();
    			var elHeight = $el.outerHeight();

    			switch (place) {
    				case 'top':
    					$tooltip.css({
    						top: pos.top - tHeight,
    						left: pos.left + Math.round(elWidth / 2) - Math.round(tWidth / 2)
    					});
    					break;
    				case 'left':
    					$tooltip.css({
    						top: pos.top + Math.round(elHeight / 2) - Math.round(tHeight / 2),
    						left: pos.left - tWidth
    					});
    					break;
    				case 'right':
    					$tooltip.css({
    						top: pos.top + Math.round(elHeight / 2) - Math.round(tHeight / 2),
    						left: pos.left + elWidth
    					});
    					break;
    				case 'bottom':
    					$tooltip.css({
    						top: pos.top + elHeight,
    						left: pos.left + Math.round(elWidth / 2) - Math.round(tWidth / 2)
    					});
    					break;
    			}
    		}

    		$('[data-tooltip]').on('mouseenter mouseleave', showHideHandler);
    	}());

    	// ==========================================================================
    	//   Repository credentials
    	// ==========================================================================
    	var repository  = $('body').data('repo');
    	var versionFile = $('body').data('metafile');
    	var repoAuthor  = repository.split('/')[0];
    	// var repoName    = repository.split('/')[1];

    	// ==========================================================================
    	//   Repository meta data
    	// ==========================================================================
    	var apiBase  = 'https://api.github.com';
    	var repoURL  = apiBase + '/repos/' + repository;
    	var metaURL  = apiBase + '/repos/' + repository + '/contents/' + versionFile;
    	var reposURL = apiBase + '/users/' + repoAuthor + '/repos';

    	/**
    	 * Do a cached request with callbacks.
    	 *
    	 * cachedRequest(url, callback1, callback2, ...);
    	 *
    	 * Callback receives `false` when request fails.
    	 *
    	 * @param  {String} url Request URL.
    	 *
    	 * @return {Void}
    	 */
    	function cachedRequest(url) {
    		var callbacks = Array.prototype.slice.call(arguments, 1);
    		var key = url.match(/[a-z0-9_\-]/gi).join('');
    		var data = store.get(key);
    		var refreshInterval = 60 * 60 * 1000; // milliseconds

    		if (data && data.lastcall > +new Date() - refreshInterval) {
    			for (var i = 0, l = callbacks.length; i < l; i++) {
    				callbacks[i](data.response);
    			}
    		} else {
    			$.ajax(url, { type: 'GET', dataType: 'jsonp', timeout: 3000 }).done(function (response) {
    				store.set(key, {
    					lastcall: +new Date(),
    					response: response
    				});

    				for (var i = 0, l = callbacks.length; i < l; i++) {
    					callbacks[i](response);
    				}
    			}).fail(function () {
    				for (var i = 0, l = callbacks.length; i < l; i++) {
    					callbacks[i](false);
    				}
    			});
    		}
    	}

    	function displayMeta(response) {
    		var $version = $('#version');
    		var $license = $('#license');
    		if (!response) {
    			$version.find('.loading')
    			.add($license)
    			.text('Loading failed');
    			return;
    		}

    		var meta = JSON.parse(Base64.decode(response.data.content));
    		var date = meta.date ? moment(meta.date).format('Do MMM YYYY') : 'date N/A';
    		var url = meta.licenses[0].url;
    		var license = meta.licenses[0].type;

    		$version.find('.loading').replaceWith(tim('version', { version: meta.version, date: date }));
    		$license.attr('href', url).html(tim('license', { license: license }));
    	}

    	function displayWatchers(response) {
    		var $repo = $('#repo');
    		if (!response) {
    			$repo.find('.loading').text('Loading failed');
    			return;
    		}

    		$repo.find('.loading').replaceWith(tim('watchers', response.data));
    	}

    	function displayRepos(response) {
    		var $repos = $('#repos');
    		if (!response) {
    			$repos.text('Loading other repositories failed');
    			return;
    		}

    		var display = $repos.data('display').split(',');
    		$repos.html(tim('repos', {
    			items: $.grep(response.data, function (repo) {
    				repo.url = repo.homepage || repo.html_url;
    				return $.inArray(repo.name, display) !== -1;
    			}).sort(function (a, b) {
    				return a.watchers > b.watchers ? 1 : ( a.watchers < b.watchers ? -1 : 0);
    			}).reverse()
    		}));
    	}

    	// Make requests
    	cachedRequest(repoURL, displayWatchers);
    	cachedRequest(metaURL, displayMeta);
    	cachedRequest(reposURL, displayRepos);
    });
    

        // project view log
  	   //$url = "http://project.api.kinlane.com/project/view/";
  	  // $vlog = $.post($url, function() {});

        // List Sponsors
        function listSponsors()
            {
            $.getJSON('https://s3.amazonaws.com/kinlane-productions/json/sponsors.json', function(data) {
                $.each(data['sponsors'], function(key, val) {
                var template = $('#parterListingTemplate').html();
                var html = Mustache.to_html(template, val);
                $('#partnerListingContainer').append(html);
                });
            });
        	}
        listSponsors();

        // Feature Projects
        function featureProjects()
            {
            $get_feature_project_url = "https://raw.githubusercontent.com/Kin-Lane/project/gh-pages/_data/feature.json";
          	$.ajax({
          	  url: $get_feature_project_url,
          	  type:"GET",
          	  success:function(data) {
                	$feature_title = data['feature_title'];
                  $feature_image = data['feature_image'];
                  $feature_url = data['feature_url'];
                  $("#feature_project_link").attr("href", $feature_url);
                  $("#feature_project_image").attr("src", $feature_image);
                  $("#feature_project_image").attr("title", $feature_title);
              	}
          	});
            }
        featureProjects();

        // Footer Projects
        function footerProjects()
            {
            $get_footer_project_url = "https://raw.githubusercontent.com/Kin-Lane/project/gh-pages/_data/footer.json";

            $.ajax({
              url: $get_footer_project_url,
              type:"GET",
              success:function(data) {
                  $footer_title = data['footer_title'];
                  $footer_image = data['footer_image'];
                  $footer_url = data['footer_url'];
                  $("#footer_project_link").attr("href", $footer_url);
                  $("#footer_project_image").attr("src", $footer_image);
                  $("#footer_project_image").attr("title", $footer_title);
                }
              });
            }
        footerProjects();

    </script>

  </body>
</html>
